@import "~stream-chat-react/dist/css/v2/index.css";

#chat-container .str-chat__file-input-container {
  display: none;
}

#chat-container .str-chat__message-options {
  align-items: center;
  gap: 8px;
}

