PORT=6002

BETTER_DATABASE_URL=postgresql://garnet:garnet-liu@localhost:5434/auth-mewtwochips

# BetterAuth credentials
BETTER_AUTH_URL="http://localhost:${PORT}"
BETTER_AUTH_SECRET=UU8y8uPXJmRqBcnB40iVekb2ALgJPb8Z

BETTER_TRUSTED_ORIGINS="${BETTER_AUTH_URL}"

NEXT_PUBLIC_API_BASE_URL="${BETTER_AUTH_URL}"
